* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  width: 100%;
  height: 100%;
  overflow: auto;
  line-height: 0.5 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

article > h3 {
  margin-bottom: 2rem;
}

article > p {
  margin-bottom: 1.25rem;
}
