/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable color-hex-length */
/* stylelint-disable custom-property-empty-line-before */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-translucent: 24 9.8% 10% / 0.3;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-translucent: 60 4.8% 95.9% / 0.3;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.75rem;
    --glare: 0 0% 0% / 7%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-translucent: 60 9.1% 97.8% / 0.3;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-translucent: 12 6.5% 15.1% / 0.3;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --glare: 360 100% 100% / 5%;
  }
}

html,
body {
  @apply leading-snug scrollbar-hide;

  overflow: hidden;
}

body {
  @apply flex h-full w-full flex-col;

  background: linear-gradient(to bottom, hsl(var(--background)), hsl(var(--muted)));
}

body > main {
  @apply w-full flex-grow overflow-y-auto scroll-smooth;
}

button,
a {
  @apply cursor-default;
}

@layer base {
  * {
    @apply border-border;

    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    @apply bg-background leading-snug text-foreground;
  }

  h1 {
    @apply text-2xl font-extrabold lg:text-3xl;
  }
}

@layer components {
  p[class^='chat-bubble-'] {
    @apply w-fit rounded-lg px-4 py-2 text-left leading-snug shadow-md;
  }

  p.chat-bubble-right {
    @apply ml-4 self-end rounded-br-none bg-primary text-primary-foreground;
  }

  p.chat-bubble-left {
    @apply mr-4 self-start rounded-bl-none bg-secondary text-secondary-foreground;
  }
}

html {
  max-width: 100vw;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

article > p {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

@media screen and (max-width: 767px) {
  input,
  select,
  textarea {
    font-size: 16px !important;
  }
}

input,
textarea {
  @apply transition-all ease-in-out;
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.rotating-golden-gradient::before,
.rotating-golden-gradient::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(var(--gradient-angle), #fd964d, #fdbd4d, #ffef61, #ffffa9);
  border-radius: inherit;
  animation: rotating 3s linear infinite forwards;
}

.rotating-golden-border-trace::before,
.rotating-golden-border-trace::after {
  content: '';
  position: absolute;
  inset: -1px;
  z-index: 0;
  background: conic-gradient(
    from var(--gradient-angle),
    #fd674d,
    #fda54d,
    #ffcd61,
    #f5c367,
    #ffcd61,
    #fda54d,
    #fd674d
  );
  border-radius: inherit;
  animation: rotating 3s linear infinite forwards;
}

.rotating-mono-border-trace::before,
.rotating-mono-border-trace::after {
  content: '';
  position: absolute;
  inset: -2px;
  z-index: 0;
  background: conic-gradient(
    from var(--gradient-angle),
    hsl(var(--background)),
    hsl(var(--foreground)),
    hsl(var(--background))
  );
  border-radius: inherit;
  animation: rotating 1.5s linear infinite forwards;
}

.rotating-green-border-trace::before,
.rotating-green-border-trace::after {
  content: '';
  position: absolute;
  inset: -2px;
  z-index: 0;
  background: conic-gradient(from var(--gradient-angle), #42eca6, #208ea2, #42eca6);
  border-radius: inherit;
  animation: rotating 1.5s linear infinite forwards;
}

.unicorn-color::before,
.unicorn-color::after {
  content: '';
  position: absolute;
  inset: -2px;
  z-index: -1;
  border-radius: inherit;
  animation: rotating 5s linear infinite forwards;
  background: conic-gradient(
    from var(--gradient-angle),
    #42eca6,
    #64b3d9,
    #208ea2,
    #498ada,
    #5b73df,
    #897ed3,
    #5b73df,
    #498ada,
    #208ea2,
    #64b3d9,
    #42eca6
  );
}

@keyframes rotating {
  0% {
    --gradient-angle: 0deg;
  }

  100% {
    --gradient-angle: 360deg;
  }
}
