/* stylelint-disable color-hex-length */
/* stylelint-disable selector-class-pattern */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .unicorn-color {
    background-image: linear-gradient(
      0deg,
      #cf5c5c,
      #c19b4a,
      #42eca6,
      #64b3d9,
      #208ea2,
      #498ada,
      #5b73df,
      #897ed3,
      #cf5c5c,
      #c19b4a
    );
    background-size: 100% 1100%;
  }

  .gradient-right {
    background: linear-gradient(90deg, #908c7f 70%, rgb(255 255 255 / 0%) 100%);
  }

  .gradient-right-dark {
    background: linear-gradient(90deg, #112022 70%, #11202200 100%);
  }

  .gradient-left {
    background: linear-gradient(90deg, rgb(255 255 255 / 0%) 0%, #908c7f 30%);
  }

  .gradient-left-dark {
    background: linear-gradient(90deg, #11202200 0%, #112022 30%);
  }

  .gradient-up {
    background: linear-gradient(
      0deg,
      rgb(76 69 62 / 100%) 20%,
      rgb(255 255 255 / 0%) 100%
    );
  }

  .gradient-down {
    background: linear-gradient(
      0deg,
      rgb(76 69 92 / 0%) 0%,
      rgb(76 69 92 / 80%) 10%,
      rgb(76 69 62 / 100%) 20%
    );
  }

  .gradient-up-dark {
    background: linear-gradient(0deg, #02090e 20%, #02090e00 100%);
  }

  .gradient-down-dark {
    background: linear-gradient(0deg, #02090e00 0%, #02090e80 10%, #02090e 20%);
  }

  .gradient-up-dark-black {
    background: linear-gradient(0deg, #02090e 20%, #02090e00 100%);
  }

  .gradient-down-dark-black {
    background: linear-gradient(0deg, #02090e00 0%, #02090e 80%);
  }

  .color-gradient-animated-background {
    width: 100%;
    height: 100%;
    position: relative;
    @apply transition-all bg-white dark:bg-neon-gray text-black hover:text-white hover:bg-black rounded-tl-[2rem] rounded-br-[2rem] hover:dark:text-neon-black hover:dark:bg-neon-green dark:text-neon-white;
  }

  .color-gradient-animated-background-golden {
    width: 100%;
    height: 100%;
    position: relative;
    @apply transition-all bg-white dark:bg-neon-gray text-black hover:text-white hover:bg-black rounded-tl-[2rem] rounded-br-[2rem] hover:dark:text-neon-black hover:dark:bg-neon-green dark:text-neon-white;
  }

  .color-gradient-animated-background-golden::before,
  .color-gradient-animated-background-golden::after {
    @apply !rounded-tl-[2rem] !rounded-br-[2rem];

    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(
      45deg,
      #ff722b,
      #ffef61,
      #ffffa9,
      #ffef61,
      #ff722b
    );
    background-size: 500%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1 !important;
    animation: steam 20s linear infinite forwards;
  }

  .color-gradient-animated-background-golden::after {
    @apply blur;
  }

  .color-gradient-animated-background::before,
  .color-gradient-animated-background::after {
    @apply !rounded-tl-[2rem] !rounded-br-[2rem];

    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(
      45deg,
      #fb0094,
      #0088ff,
      #5500ff,
      #0088ff,
      #fb0094
    );
    background-size: 500%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1 !important;
    animation: steam 20s linear infinite forwards;
  }

  .color-gradient-animated-background::after {
    @apply blur;
  }

  @keyframes steam {
    0% {
      background-position: 0 0;
    }

    50% {
      background-position: 400% 0;
    }

    100% {
      background-position: 0 0;
    }
  }
}

.btn-menu {
  @apply text-2xl px-8 py-2 transition-all bg-white text-black hover:text-white hover:bg-black rounded-tl-[2rem] rounded-br-[2rem] hover:border-2 hover:border-white;
}

.unicorn-color {
  @apply animate-unicorn-flow;
}

b {
  @apply font-bold text-yellow dark:text-neon-yellow;
}

button:not(.Toastify__close-button, [data-style='none']) {
  @apply transition-all drop-shadow-lg border-2 lg:border-8 border-white bg-white dark:bg-neon-gray text-black hover:text-white hover:bg-black hover:border-gray rounded-tl-[2rem] rounded-br-[2rem] hover:dark:text-neon-black hover:dark:bg-neon-green hover:dark:border-neon-green dark:text-neon-white dark:border-neon-green hover:rounded-[2rem];
}

input,
button,
a {
  @apply disabled:cursor-not-allowed disabled:opacity-50;
}

input {
  @apply text-white bg-black dark:text-neon-white dark:bg-neon-black dark:border-neon-green border-2 border-white outline-none focus:outline-none focus:border-4 lg:focus:border-8 h-8 ease-in-out transition-all text-base lg:text-2xl lg:h-16 px-8 lg:px-10 rounded-tl-2xl rounded-br-2xl;
}

h1 {
  @apply text-base lg:text-5xl;
}

.react-confirm-alert {
  line-height: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.react-confirm-alert h1 {
  font-weight: 900;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.react-confirm-alert button {
  border-radius: 2rem !important;
}
