@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .unicorn-color {
    background-image: linear-gradient(
      0deg,
      #cf5c5c,
      #c19b4a,
      #42eca6,
      #64b3d9,
      #208ea2,
      #498ada,
      #5b73df,
      #897ed3,
      #cf5c5c,
      #c19b4a
    );
    background-size: 100% 1100%;
  }

  .gradient-right {
    background: linear-gradient(90deg, #908c7f 70%, rgb(255 255 255 / 0%) 100%);
  }

  .gradient-right-dark {
    background: linear-gradient(90deg, #02090e 70%, rgb(255 255 255 / 0%) 100%);
  }

  .gradient-left {
    background: linear-gradient(90deg, rgb(255 255 255 / 0%) 0%, #908c7f 30%);
  }

  .gradient-left-dark {
    background: linear-gradient(90deg, rgb(255 255 255 / 0%) 0%, #02090e 30%);
  }

  .gradient-up {
    background: linear-gradient(
      0deg,
      rgb(76 69 62 / 100%) 20%,
      rgb(255 255 255 / 0%) 100%
    );
  }

  .gradient-down {
    background: linear-gradient(
      0deg,
      rgb(255 255 255 / 0%) 0%,
      rgb(76 69 62 / 100%) 80%
    );
  }

  .gradient-up-dark {
    background: linear-gradient(0deg, #112022 20%, rgb(0 0 0 / 0%) 100%);
  }

  .gradient-down-dark {
    background: linear-gradient(0deg, rgb(0 0 0 / 0%) 0%, #112022 80%);
  }
}

.unicorn-color {
  @apply animate-unicorn-flow;
}

b {
  @apply font-bold text-yellow dark:text-neon-yellow;
}

button:not(#back, #theme, #submit, #share, #reset),
a#start {
  @apply transition-all drop-shadow-lg border-2 lg:border-8 border-white bg-white dark:bg-neon-gray text-black hover:text-white hover:bg-black hover:border-gray rounded-tl-[2rem] rounded-br-[2rem] hover:dark:text-neon-black hover:dark:bg-neon-green hover:dark:border-neon-green dark:text-neon-white dark:border-neon-green hover:rounded-[2rem];
}

button,
a {
  @apply disabled:cursor-not-allowed disabled:opacity-50;
}

input {
  @apply text-white bg-black dark:text-neon-white dark:bg-neon-black dark:border-neon-green border-2 border-white outline-none focus:outline-none focus:border-4 lg:focus:border-8 h-8 ease-in-out transition-all text-base lg:text-2xl lg:h-16 px-8 lg:px-10 rounded-tl-2xl rounded-br-2xl;
}

h1 {
  @apply text-base lg:text-5xl;
}
