article * {
  line-height: 2rem;
}

article hr {
  opacity: 0.5;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}

article strong {
  @apply font-extrabold text-primary;
}

article h1 {
  font-size: 2rem !important;
  font-weight: 900;
  margin-bottom: 2rem;
  line-height: 2.5rem;
}

article h2 {
  font-size: 1.5rem !important;
  font-weight: 900;
  margin-bottom: 1.25rem;
  margin-top: 0.75rem;
}

article h3 {
  font-size: 1.3rem !important;
  font-weight: 900;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

article h4 {
  font-size: 1.2rem !important;
  font-weight: 900;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

article h5 {
  font-size: 1rem !important;
  font-weight: 900;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

article ol {
  list-style: decimal !important;
  padding-left: 1rem !important;
}

article p {
  font-weight: 100 !important;
  margin-bottom: 1.5rem;
}

article blockquote {
  @apply text-primary;

  border-radius: 0.3rem;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 900;
  font-variant: small-caps;
}

article pre {
  @apply bg-primary text-primary-foreground shadow-lg;

  white-space: pre-wrap;
  padding: 1rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
}

article a {
  @apply cursor-alias font-bold underline decoration-wavy underline-offset-[0.3rem] transition-all ease-out [text-decoration-skip-ink:none] hover:opacity-75;
}

article ul > li {
  list-style: disc;
  margin-left: 1.5rem;
}
